CMP_CAS_URL=https://ep.iotcc.telkomsel.com/cas/login
CMP_PRODUCTS_URL=https://ep.iotcc.telkomsel.com/#!products
CMP_DASHBOARD_URL=https://ep.iotcc.telkomsel.com/#!dashboard
CMP_USERNAME=your_username
CMP_PASSWORD=your_password
IMAP_HOST=mail.gmf-aeroasia.co.id
IMAP_PORT=993
IMAP_USERNAME=your_imap_username
IMAP_PASSWORD=your_imap_password
IMAP_TLS_MODE=imaps
IMAP_VERIFY_TLS=true
IMAP_MAILBOX=INBOX
OTP_SUBJECT=CMP - YOUR TOKEN
OTP_POLL_INTERVAL_SECONDS=2
OTP_TIMEOUT_SECONDS=120
OTP_CLOCK_SKEW_TOLERANCE_SECONDS=120
RUN_START_TIMEZONE=Asia/Jakarta
BROWSER_TIMEOUT_MS=30000
NAVIGATION_TIMEOUT_MS=60000
OTP_FORM_TIMEOUT_MS=30000
REFRESH_INTERVAL_SECONDS=60
RECOVERY_RETRY_LIMIT=3
RECOVERY_BACKOFF_SECONDS=5
HEADLESS=true
LOG_LEVEL=INFO
